<%- include('header') -%>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">Locmat</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a href=".." class="nav-link">Matériel </a>
			</li>
			<li class="nav-item active">
				<a href="" class="nav-link">Administration <span class="sr-only">(actuel)</span></a>
			</li>
		</ul>
	</div>

	<button class="btn btn-outline-danger my-2 my-sm-0">Déconnection</button>
</nav>

<div class="container">

	<div class="admin-buttons">
		<button class="btn btn-success" data-toggle="modal" data-target="#createDeviceModal">Ajout un matériel</button>
		<button class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">Ajouter un utilisateur</button>
	</div>

	<div class="card shadow">
		<div class="card-header">
			Liste des utilisateurs
		</div>
		<div class="card-body">
			<table class="table table-bordered shadow-sm">
				<thead>
					<tr>
						<th class="col">Nom</th>
						<th class="col">Prénom</th>
						<th class="col">Email</th>
						<th class="col">Matricule</th>
						<th class="col">Rôle</th>
						<th class="col"></th>
						<th class="col"></th>
					</tr>
				</thead>
				<tbody>
					<!-- A FAIRE EN EXPRESS-->
					<!-- listes des utilisateurs-->
					<tr>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td><button class="btn btn-outline-info" data-toggle="modal" data-target="#userBorrowedDevicesModal">Matériels empruntés</button></td>
						<td><button class="btn btn-outline-info" data-toggle="modal" data-target="#userEditionModal">Modifier</button></td>
					</tr>
					<!-- FIN DE A FAIRE EN EXPRESS-->
				</tbody>
			</table>
		</div>
	</div>

	<hr>

	<div class="card shadow">
        <div class="card-header">
            Liste du matériel
        </div>
        <div class="card-body">
            <table class="table table-bordered shadow-sm">
                <thead>
                    <tr>
                        <th class="col">Nom</th>
                        <th class="col">Version</th>
                        <th class="col">Référence</th>
                        <th class="col">Numéro</th>
                        <th class="col">Emprunteur</th>
                        <th class="col">Date de début d'emprunt</th>
						<th class="col">Date de fin d'emprunt</th>
						<th class="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- A FAIRE EN EXPRESS-->
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
						<td>a</td>
						<td><button class="btn btn-outline-info" data-toggle="modal" data-target="#deviceEditionModal">Modifier</button></td>
                    </tr>
                    <!-- FIN DE A FAIRE EN EXPRESS-->
                </tbody>
            </table>
        </div>
    </div>

</div>



<!-- NEW DEVICE CREATION POPUP/MODAL -->
<%- include('device_creation_popup.ejs') -%>




<!-- NEW USER CREATION POPUP/MODAL -->
<%- include('user_creation_popup.ejs') -%>



<!-- USER BORROWED DEVICES LIST POPUP/MODAL -->
<%- include('user_borrowed_list_popup.ejs') -%>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Locamat, 2020</span>
    </div>
</footer>

<%- include('footer') -%>