<%- include('header') -%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Locmat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="" class="nav-link">Matériel <span class="sr-only">(actuel)</span></a>
            </li>
            <% if(user.isAdmin ==true) {%> 
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <p>
                          <a class="dropdown-item" href="adminUsers">users</a> 
                          <a class="dropdown-item" href="adminDevices">devices</a>
                      </p>
                      
                    </div>
                  </li>
            <% } %>
            <li class="nav-item">
                <a href="profile" class="nav-link">
                    Profil
                    <!--<img class="homeBTN.png"></img>-->
                </a>
            </li>
        </ul>

        <span class="navbar-text navbar-username-text">
            <%= user.firstName %> <%= user.lastName %>
        </span>
        <form class="form-inline">
            <button  class="btn btn-outline-danger my-2 my-sm-0" id="logoutBTN">Déconnection</button>
        </form>
        
    </div>

</nav>

<div class="container">
    <div class="user-admin-action">
        <form action="/adminUsers" method="POST">
            <div>
                <label for="floatingInput">User id : </label>
            </div>
            <div>
                <input type="search" placeholder="JD01999" aria-label="Search" width="50px" height="100px">
                    <button class="sumbit" className="btn btn-link">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="admin-buttons">
        <button class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">Ajouter un utilisateur</button> 
    </div>
    
	<div class="card shadow">
		<div class="card-header">
			Utilisateur selectioné
        </div>
		<div class="card-body">
			<table class="table table-bordered shadow-sm">
				<thead>
					<tr>
						<th class="col">Nom</th>
						<th class="col">Prénom</th>
						<th class="col">Email</th>
						<th class="col">Matricule</th>
						<th class="col">Rôle</th>
						<th class="col"></th>
						<th class="col"></th>
					</tr>
				</thead>
				<tbody>
                    <!--add if condition user-->
					<!-- A FAIRE EN EXPRESS-->
					<!-- listes des utilisateurs-->
					<tr>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td><button class="btn btn-outline-info" data-toggle="modal" data-target="#userBorrowedDevicesModal">Matériels empruntés</button></td>
						<td><button class="btn btn-outline-info" data-toggle="modal" data-target="#userEditionModal">Modifier</button></td>
					</tr>
					<!-- FIN DE A FAIRE EN EXPRESS-->
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- NEW USER CREATION POPUP/MODAL -->
<%- include('user_creation_popup.ejs') -%>

<script>
    const button = document.getElementById('logoutBTN')
    button.addEventListener('click', (err)=>{
        console.log("clicked")
        document.cookie="token="
        location.reload()
    })

</script>

<script src="https://kit.fontawesome.com/88c7164422.js" crossorigin="anonymous"></script>

<%- include('footer') -%>
