<!-- NEW DEVICE CREATION POPUP/MODAL -->
<div class="modal fade" id="createDeviceModal" tabindex="-1" role="dialog" aria-labelledby="createDeviceModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createDeviceModalTitle">Nouveau matériel</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/adminDevices/createDevice" method="POST">

					<div class="form-group">
						<label for="newDeviceInputName">Reference</label>
						<input type="text" class="form-control" id="newDeviceInputRef" name="ref" placeholder="AP000" required>
					</div>

					<div class="form-group">
							<label for="newDeviceInputName">Nom</label>
							<input type="text" class="form-control" id="newDeviceInputName" name="name" placeholder="iPhone 12 Pro" required>
					</div>
					
					<div class="form-group">
						<label for="newDeviceInputVersion">Version</label>
						<input type="text" class="form-control" id="newDeviceInputVersion" name="version" placeholder="2" required>
					</div>
					
					<div class="form-group">
						<label for="newDeviceInputPicture">Photo URL</label>
						<input type="text" class="form-control" id="newUserInputPicture" name="pictureUrl">
					</div>
					
					<!-- <div class="form-group">
						<label for="newDeviceInputPhoneNumber">Numero de téléphone</label>
						<input type="number" class="form-control" id="newDeviceInputPhoneNumber" placeholder="0656842034">
					</div> -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Créer</button>
					</div>
				</form>
			</div>	
		</div>
	</div>
</div>