<!DOCTYPE html>
<html>
    <head>
        <title><%= (typeof title != "undefined" ? title : "") %></title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="container">