<%- include('header') -%>
<h1>Bonjour <%= name%></h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Locmat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="" class="nav-link">Matériel <span class="sr-only">(actuel)</span></a>
            </li>
            <li class="nav-item">
                <a href="admin" class="nav-link">Administration</a>
            </li>
        </ul>
    </div>

    <button class="btn btn-outline-danger my-2 my-sm-0">Déconnection</button>
</nav>

<div class="container">

    <div class="card shadow">
        <div class="card-header">
            Liste du matériel
        </div>
        <div class="card-body">
            <table class="table table-bordered shadow-sm">
                <thead>
                    <tr>
                        <th class="col">Nom</th>
                        <th class="col">Version</th>
                        <th class="col">Référence</th>
                        <th class="col">Numéro</th>
                        <th class="col">Emprunteur</th>
                        <th class="col">Date de début d'emprunt</th>
                        <th class="col">Date de fin d'emprunt</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- A FAIRE EN EXPRESS-->
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <!-- FIN DE A FAIRE EN EXPRESS-->
                </tbody>
            </table>
        </div>
    </div>


    
</div>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Locamat, 2020</span>
    </div>
</footer>

<%- include('footer') -%>