doctype html
html
  head
    title= "Locamat"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.min.css")
  body
    block content
