extends layout

block content

    .container
        .text-center
            h1 LocMat
            h3 Sign in
        
        form
            .form-group
                label Adresse email
                input.form-control(type="email" placeholder="exemple@locamat.com")
            .form-group
                label Password
                input.form-control(type="password")