<%- include('header') -%>
<div class="class menu">
    <a href="/"><button type="button" class="btn btn-primary btn-sm">Acceuil</button></a>
</div>
<div class="container bootstrap snippets bootdey">
<div class="panel-body inf-content">
    <div class="row">
        <div class="col-md-6">
            <strong>Information</strong><br>
            <div class="table-responsive">
            <table class="table table-user-information">
                <tbody>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                Identificacion                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            <%=user.id%>     
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>    
                                Name                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            <%=user.firstName%>     
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                Lastname                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            <%=user.lastName%>  
                        </td>
                    </tr>

                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                Role                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            <%if(user.isAdmin == true) {%>
                                administrator
                            <%} else { %>
                                user
                            <% } %>
                        </td>
                    </tr>
                    <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                Email                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            <%=user.mail%> 
                        </td>
                    </tr>                           
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</div>
<button class="btn btn-primary" data-toggle="modal" data-target="#updateUserModal">update</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal">change password</button>

<%- include('password_change_popup.ejs') -%>

<%- include('update_user_popup.ejs') -%>


<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Locamat, 2020</span>
    </div>
</footer>
<%- include('footer') -%>                                 